// Source code is decompiled from a .class file using FernFlower decompiler (from Intellij IDEA).
class Day1 {
   Day1() {
   }

   public static void main(String[] var0) {
      byte var1 = 10;
      byte var2 = 10;
      long var3 = 12L;
      double var5 = (double)20.0F;
      float var7 = 20.1F;
      char var8 = 'a';
      System.out.println(var2);
      System.out.println(var5);
      System.out.println(var7);
      System.out.println(var8);
      System.out.println(var1);
      System.out.println(var3);
      char var9 = 'ꀐ';
      System.out.println(var9);
      byte var10 = 2;
      System.out.println(var10);
      byte var11 = 10;
      System.out.println(var11);
      boolean var12 = true;
      System.out.println(var12);
   }
}
